:host {
	display: grid;
	grid-template-areas:
		'header header'
		'instrucoes instrucoes'
		'app app';
	column-gap: 2rem;

	header {
		grid-area: header;

		h1 {
			font-family: Sans-Serif;
			color: var(--gray-900);
		}
	}

	#arquivo-instrucoes {
		grid-area: instrucoes;
		padding-bottom: 1.5rem;
	}

	#app {
		display: grid;
		grid-area: app;

		grid-template-areas:
			'valores valores'
			'actions actions'
			'tabs tabs';
		column-gap: 2rem;

		#actions {
			grid-area: actions;
			padding-bottom: 1.5rem;

			button {
				margin-right: 1rem;
			}
		}

		p-tabView {
			grid-area: tabs;
		}

		.info-span {
			margin-top: 2rem;

			input {
				min-width: 27rem;
			}
		}
	}
}
