<header>
	<h1>Mips com Pipeline</h1>
</header>

<p-toast></p-toast>

<section id="arquivo-instrucoes">
	<h2>Arquivo de Instruções</h2>
	<label for="input-file" class="input-file">
		<span class="pi pi-file p-button-icon p-button-icon-left"></span
		>Carregar</label
	>
	<input
		type="file"
		id="input-file"
		name="input-file"
		accept="text/plain"
		(change)="handleFile($event)"
	/>
</section>

<p-dialog
	header="Leitura de Arquivo"
	[(visible)]="inputFileHasError"
	[breakpoints]="{ '960px': '75vw' }"
	[style]="{ width: '50vw' }"
	[draggable]="false"
	[resizable]="false"
>
	<p>Ocorreu um erro ao tentar ler o arquivo de instruções. Tente novamente.</p>
	<ng-template pTemplate="footer">
		<p-button
			(click)="inputFileHasError = false"
			label="Corrigir"
			styleClass="p-button-text"
		></p-button>
	</ng-template>
</p-dialog>

<section id="app" *ngIf="hasValidInstructions">
	<h2>Execução</h2>

	<section id="actions">
		<button
			pButton
			type="button"
			class="p-button-primary"
			label="Passo-a-passo"
			icon="pi pi-forward"
			(click)="nextStep()"
			[disabled]="isFinished"
		></button>
		<button
			pButton
			type="button"
			class="p-button-secondary"
			label="Execução Direta"
			icon="pi pi-step-forward"
			(click)="directExecution()"
			[disabled]="isFinished"
		></button>
		<button
			pButton
			type="button"
			class="p-button-danger"
			label="Reiniciar"
			icon="pi pi-undo"
			(click)="reset()"
		></button>
		<button
			pButton
			type="button"
			class="p-button-help"
			label="Gerar Arquivo"
			icon="pi pi-download"
			(click)="downloadFile()"
		></button>
	</section>

	<p-tabView>
		<p-tabPanel header="Info" leftIcon="pi pi-directions">
			<span class="p-float-label info-span">
				<input
					id="clock-value"
					type="text"
					pInputText
					class="p-inputtext-lg"
					[value]="mipsProcessor.currentClock"
					disabled
				/>
				<label for="pc-value">Clock</label>
			</span>
			<span class="p-float-label info-span">
				<input
					id="pc-value"
					type="text"
					pInputText
					class="p-inputtext-lg"
					[value]="mipsProcessor.pc.value"
					disabled
				/>
				<label for="pc-value">PC</label>
			</span>
			<p-divider></p-divider>
			<h3>Instruções por Estágio</h3>

			<span
				class="p-float-label info-span"
				*ngFor="let stage of mipsProcessor.instructionsByStage; let i = index"
				[attr.data-index]="i"
			>
				<input
					[id]="i"
					type="text"
					pInputText
					class="p-inputtext-lg"
					[value]="mipsProcessor.instructionsByStage[i]"
					disabled
					maxlength="32"
				/>
				<label for="current-instruction">Estágio {{ i + 1 }}</label>
			</span>
		</p-tabPanel>

		<p-tabPanel header="Memória de Instruções" leftIcon="pi pi-ticket">
			<p-table
				id="instruction-memory"
				[value]="mipsProcessor.instructionMemory.addresses"
				styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
			>
				<ng-template pTemplate="caption"> Memória de Instruções </ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th scope="col">Endereço</th>
						<th scope="col">Valor</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-instruction>
					<tr>
						<td>{{ instruction.id }}</td>
						<td>{{ instruction.value }}</td>
					</tr>
				</ng-template>
			</p-table>
		</p-tabPanel>

		<p-tabPanel header="Banco de Registradores" leftIcon="pi pi-th-large">
			<p-table
				id="registers"
				[value]="mipsProcessor.registerFile.registers"
				styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
			>
				<ng-template pTemplate="caption"> Banco de Registradores </ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Valor</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-register>
					<tr>
						<td>{{ register.name }}</td>
						<td>{{ register.value }}</td>
					</tr>
				</ng-template>
			</p-table>
		</p-tabPanel>

		<p-tabPanel header="Sinais de Controle" leftIcon="pi pi-sliders-h">
			<p-table
				id="control-signals"
				[value]="mipsProcessor.controlUnit.controlSignals"
				styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
			>
				<ng-template pTemplate="caption"> Sinais de Controle </ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Valor</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-signal>
					<tr>
						<td>{{ signal.name }}</td>
						<td>{{ signal.value }}</td>
					</tr>
				</ng-template>
			</p-table>
		</p-tabPanel>

		<p-tabPanel header="Memória de Dados" leftIcon="pi pi-inbox">
			<p-table
				id="data-memory"
				[value]="mipsProcessor.dataMemory.addresses"
				styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
			>
				<ng-template pTemplate="caption"> Memória de Dados </ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th scope="col">Endereço</th>
						<th scope="col">Valor</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-data>
					<tr>
						<td>{{ data.id }}</td>
						<td>{{ data.value }}</td>
					</tr>
				</ng-template>
			</p-table>
		</p-tabPanel>
	</p-tabView>
</section>
