/* You can add global styles to this file, and also import other style files */

input[type='file' i] {
	display: none;
}

.button-basic {
	margin: 0;
	display: inline-flex;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.button-theme {
	@extend .button-basic;
	color: var(--primary-color-text);
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 3px;
}

.input-file {
	@extend .button-theme;
	font-family: var(--font-family);
	span {
		margin-right: 0.5rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
}
